


    <div class="" style="height: 100%;" >
 <div class="card-body">
    <div class="panel-heading  h2 text-center card-body" >   BIENVENUE DANS VOTRE E-SCOLARITÉ

    </div>
 </div>

  <div class="panel-body" style="height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="d-flex justify-content-between" >
                        <div>
                            <div class="text-muted">Matiers</div>
                            <div class="value">36,254</div>
                            <div class="text-success change">+ 5.27% Since last month</div>
                        </div>
                        <div class="icon">
                            <img src="../../assets/matieres.png" alt="Customers Logo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="d-flex justify-content-between">
                        <div>
                            <div class="text-muted">vos collègues</div>
                            <div class="value">5,543</div>
                            <div class="text-danger change">- 1.08% Since last month</div>
                        </div>
                        <div class="icon">
                            <img src="../../assets/etudiants.png" alt="Customers Logo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="d-flex justify-content-between">
                        <div>
                            <div class="text-muted">professeur</div>
                            <div class="value">$6,254</div>
                            <div class="text-danger change">- 7.00% Since last month</div>
                        </div>
                        <div class="icon">
                            <img src="../../assets/profs.png" alt="Customers Logo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="d-flex justify-content-between">
                        <div>
                            <div class="text-muted">les filières</div>
                            <div class="value">+ 30.56%</div>
                            <div class="text-success change">+ 4.87% Since last month</div>
                        </div>
                        <div class="icon">
                            <img src="../../assets/filieres.png" alt="Customers Logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="back panel-body text-center" style="height:325px;">
        <div class="container ">
            <div class="row  text-center" style="margin-left: 250px;height:300px;">
                <button  routerLink="/admin/etudiants"  class="col-md-4 card  justify-content-between " style="height: 100px;text-align: center;" >
                    <h3 style="margin-top: 10px;margin-left: 10px;">LIST DES ETUDIANTS</h3>

                </button>
                <button  routerLink="/admin/matieres" class="col-md-4 card  justify-content-between"  style="height: 100px;text-align: center;" >
                    <h3 style="margin-top: 10px;margin-left: 10px;" >LIST DES MATIERES</h3>

               </button>
                <button  routerLink="/admin/new-matiere" class="col-md-4 card  justify-content-between" style="height: 100px;text-align: center;" >
                    <h3 style="margin-left: 5px;" >AJOUTER UNE MATIÈRE</h3>


            </button>
            <button  routerLink="/admin/new-etudiant" class="col-md-4 card  justify-content-between" style="height: 100px;text-align: center;" >
                <h3  style="margin-left: 5px;">AJOUTER UN ÉTUDIANT</h3>


            </button>
            </div>
        </div>

    </div>
